<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.CommentDao">
    
    <resultMap type="Comment" id="BlogTypeResult">
        <id property="id" column="id" />
        <result property="userIp" column="userIp" />
        <result property="content" column="content" />
        <result property="commentDate" column="commentDate" />
        <result property="status" column="status" />
        
        <association property="Blog" column="blog_id" select="com.blog.BlogDao.findById"></association>
    </resultMap>
    
</mapper>